<div class="container">
    <ng-container *ngIf="displayListCart()">
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th>ID</th> <th>NOM</th> <th>DESCRIPTION</th> <th>PRIX</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let carttraining of displayListCart()">
                    <td>{{carttraining.id}}</td>
                    <td>{{carttraining.name}}</td>
                    <td>{{carttraining.description}}</td>
                    <td>{{carttraining.price}}</td>
                    <td> <input  name="quantity" style="width: 60px" [(ngModel)]="carttraining.quantity"></td>
                    <td> <a class="btn btn-danger" (click)="removeFromCart(carttraining)">Supprimer</a></td>
                </tr>
            </tbody>
        </table>
    </ng-container>
    <div><a class="btn btn-success" (click)="validateCart()">validate</a></div>
</div>
