<div class="container">
    <ng-container *ngIf="this.listTrainings">
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th>ID</th> <th>NOM</th> <th>DESCRIPTION</th> <th>PRIX</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let Training of this.listTrainings">
                    <td>{{Training.id}}</td>
                    <td>{{Training.name}}</td>
                    <td>{{Training.description}}</td>
                    <td>{{Training.price}}</td>
                    <td> <input type="number" name="quantity" style="width: 60px" [(ngModel)]="Training.quantity"></td>
                    <td> <a class="btn btn-primary" (click)="onAddToCart(Training)">Ajouter</a></td>
                </tr>
            </tbody>
        </table>
    </ng-container>
</div>
