<div class="container">
    <ng-container *ngIf="cartservice.listTrainings">
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th>ID</th> <th>NOM</th> <th>DESCRIPTION</th> <th>PRIX</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let cartTraining of cartservice.listTrainings">
                    <td>{{cartTraining.id}}</td>
                    <td>{{cartTraining.name}}</td>
                    <td>{{cartTraining.description}}</td>
                    <td>{{cartTraining.price}}</td>
                    <td> <input type="number" name="quantity" style="width: 60px" [(ngModel)]="cartTraining.quantity"></td>
                    <td> <a class="btn btn-primary" (click)="onAddToCart(cartTraining)">Ajouter</a></td>
                </tr>
            </tbody>
            
        </table>
    </ng-container>
</div>
